.app-container {
  height: 100%;
  .t-layout__header {
    border-bottom: 1px solid var(--td-component-stroke);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }
  .t-layout__sider {
    width: fit-content;
  }
}
